<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Money</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
          <!-- Nav Bar-->
              <%- include("../scurtaturi/nav-bar") %>
<br /> <br /> <br /> <br /> <br />  <br /> <br /> <br /> <br />
                      <h1 class="main-title"> Shop Fondatori</h1>
  <div class="button-container" id="initial-buttons">
          <a href="/magazin/miguel">
              <div class="button">
                  <img src="https://cdn.discordapp.com/avatars/813089139502743615/a_61b39e692420ec49c65a17423da10ccf.gif?size=4096" alt="Imagine 2">
                  <h2>Miguel</h2>
                  <p>Magazinul lui Miguel</p>
              </div>
          </a>
          
        <a href="/magazin/hubyp">
            <div class="button">
                <img src="https://cdn.discordapp.com/avatars/948916911293497344/2ad7d97441fdf0ede8ee33cd45308d9f.png?size=4096" alt="Imagine 1">
                <h2>Hubyp</h2>
                <p>Magazinul lui Hubyp</p>
            </div>
        </a>
  </div>
                        <br /> <br/> <br /> <br/>  <br /> <br /> <br /> <br />
                        <div class="diagonal-separator-container">
  <img class="separator-image" src="https://media.discordapp.net/attachments/1173245073517973504/1177740927641604187/rTL3NFg.png?ex=65739bb6&is=656126b6&hm=c379df468cdac3669b1b43a5121f9f916aaaa367867c5a9d18a7f69cbb9fda61&=&format=webp&width=269&height=175" alt="Decorative Image">
  <div class="diagonal-separator"></div>
  <h2 class="separator-title">Black Money</h2>
</div>
                            <h1 class="main-title"> Vouch </h1>
  <div class="feature-container sticky-blur-header">
    <div class="feature oval-photo-feature">
      <img class="oval-photo" src="https://cdn.discordapp.com/avatars/1085574930487312415/6c942081cfbb96fb28b33e2b7a07b0cb.webp?size=1024&format=webp&width=0&height=128" alt="Special Offer">
      <div class="feature-text">
        <h2>dannutzu</h2>
        <div class="separator-line"></div>
        <p>A Cumparat pe data de 20/11/2023 07:22 de la Hubyp Plata PaySafe 5e contra 8 video, a fost foarte multimit de ce a cumparat!</p>
      </div>
    </div>

          
    <div class="feature oval-photo-feature">
      <img class="oval-photo" src="https://cdn.discordapp.com/avatars/273518166619979787/4379161465385fa3fb9bf3b593a011cf.webp?size=1024&format=webp&width=0&height=128" alt="New Arrivals">
      <div class="feature-text">
        <h2>edy2001</h2>
        <div class="separator-line"></div>
        <p>A cumparat de la Miguel VIP primind diferite metode de a face bani si a iesi pe Profit, a fost foarte multumit de ce a cumparat!</p>
      </div>
    </div>
    <div class="feature oval-photo-feature">
      <img class="oval-photo" src="https://cdn.discordapp.com/avatars/1148320631595741295/0373116c21b65c8e45327670f1e5fe7b.webp?size=1024&format=webp&width=0&height=128" alt="Members Only">
      <div class="feature-text">
        <h2>hbkqq</h2>
        <div class="separator-line"></div>
        <p>A cumparat de la Hubyp pe data de 11/11/2023 13:46 Plata prin PayPal 2e 4 video, a fost foarte multumit de ce a cumparat!</p>
      </div>
    </div>
  </div>
</body>
</html>
